<p id="notice"><%= notice %></p>

<p>
  <strong>Resultvalue:</strong>
  <%= @survey_result.ResultValue %>
</p>

<p>
  <strong>Surveydate:</strong>
  <%= @survey_result.SurveyDate %>
</p>

<p>
  <strong>Operation:</strong>
  <%= @survey_result.operation %>
</p>

<%= link_to 'Edit', edit_survey_result_path(@survey_result) %> |
<%= link_to 'Back', survey_results_path %>
